<nav class="navbar bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "Training App", root_path, class: "navbar-brand" %>

    <div class="dropdown">
      <button type="button" data-bs-toggle="dropdown" aria-expanded="false" class="btn btn-link">
        <%= image_tag Current.user.picture_url || "avatar.png", class: "rounded-circle ratio ratio-1x1", style: "width: 32px;" %>
      </button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li>
          <%= link_to "Logout", session_path, class: "dropdown-item", data: { turbo_method: :delete } %>
        </li>
      </ul>
    </div>
  </div>
</nav>
